@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
    background-image: url('Fondo.webp');
    background-size: cover;
    background-position: center;
    /*opacidad del fondo*/
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.header {
    width: 100%;
    max-width: 1000px;
    margin-bottom: 20px;
    text-align: center;
}

.main-container {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    max-width: 1000px;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 30%;
    height: 450px;
}

.card2 {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 70%;
    height: 450px;
}

.header h1 {
    color: #BBF1FC;
    font-size: 36px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
}

.header h2 {
    border-bottom: 2px solid #BBF1FC;
    color: #BBF1FC; 
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
    margin-top: 0;
}

.header h3 {
    color: #0056b3;
    margin-top: 20px;
}

.header p {
    color: #fff;
    line-height: 1.6;
}

.section {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
}

button {
    background: #0056b3;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    margin-bottom: 10px;
}

button:hover {
    background: #004494;
}

.secondary-button {
    background: #6c757d;
}

.secondary-button:hover {
    background: #5a6268;
}

.error {
    color: #d9534f;
    font-weight: bold;
    margin-top: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

h2 {
    border-bottom: 2px solid #0056b3;
    color: #333;
    padding-bottom: 10px;
    text-align: center;
    font-size: 22px;
}